Package: tird
Version: 0.22.0
Section: utils
Architecture: all
Depends: python3 (>= 3.9.2), python3-cryptography (>= 2.1), python3-nacl (>= 1.2.0)
Maintainer: Alexey Avramov <hakavlad@gmail.com>
Priority: optional
Homepage: https://github.com/hakavlad/tird
Description: tool for encrypting files and hiding encrypted data
 tird /tɪrd/ (an acronym for "this is random data") is a file encryption
 tool focused on minimizing metadata and resisting coercion.
 .
 With tird, you can:
 1. Create files filled with random data to use as containers or
 keyfiles.
 2. Overwrite the contents of block devices and regular files with
 random data to prepare containers or destroy residual data.
 3. Encrypt file contents and comments with keyfiles and passphrases.
 The encrypted data format (cryptoblob) is a padded uniform random blob
 (PURB): it looks like random data and has a randomized size. This
 reduces metadata leakage from file format and length and allows
 cryptoblobs to be hidden among random data.
 4. Create steganographic (hidden, undetectable) user-driven filesystems
 inside container files and block devices. Unlike VeraCrypt and
 Shufflecake, tird containers do not contain headers; the user specifies
 the data locations inside the container and is responsible for keeping
 those locations separate. Any random-looking region of a file or block
 device may be used as a container.
 5. Prevent fast access to decrypted data using time-lock encryption.
 .
 tird is designed to resist coercive key-disclosure attacks (rubber-hose
 cryptanalysis, xkcd 538) and offers built-in plausible deniability —
 even when encrypted files are stored outside containers.
